.container{

}

.item{
    position: relative;
    padding: 20px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bgContainer{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

.bg{
    object-fit: cover;
    opacity: 0.2;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notification{
    font-weight: 500;
    font-size: 12px;
}

.button{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}