.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    background-color: #f6f2eb;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 65px;
    left: 0;
}


.leftImg {
    height: 34rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.rightImg {
    height: auto;
    margin-left: 4rem;
    max-height: 100%;
    max-width: 100%;
    margin-top: 2rem;
}

.box {
    max-width: 400px;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(249, 224, 180, 1);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 15rem;
}

.content {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin-top: 2rem;
}

.title {
    color: #333333;
    width: 25rem;
}

.login {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    margin-right: 2rem !important;
    padding: 15px !important;
    border-radius: 3rem !important;
    background-color: #784800 !important;
    font-size: 13px !important;
    width: 7rem !important;
}

/* Responsiveness */
@media (max-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .leftImg,
    .rightImg {
        height: 30rem;
        margin: 1rem auto;
    }

    .box {
        width: 55%;
        padding: 2rem;
        margin: 2rem auto;
    }

    .submitBtn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {

    .leftImg,
    .rightImg {
        display: none;
    }

    .box {
        width: 90%;
        padding: 1.5rem;
    }

    .submitBtn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .box {
        width: 95%;
        padding: 1rem;
    }

    .submitBtn {
        padding: 12px;
        font-size: 14px;
        width: 100%;
    }
}