.container{
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: rebeccapurple;
    font-weight: bold;
    text-transform: capitalize;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
}

.input{
    background-color: transparent;
    border: none;
    color: blueviolet;

}

.icons{
    display: flex;
    gap: 20px;
}