.container{
    display: flex;
}

.menu{
    margin-top: 80px;
}


.content{
    flex: 4;
    padding: 20px;
    margin-top: 60px;
}

.wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.main{
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 20px;
   
}
.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.side{
    flex: 1;
}