
.container{
    padding: 30px;
    position: relative;
    width: 78.5%;
    align-items: center;
    margin-left: 15.6rem;
    overflow: hidden;
    bottom: 20px;
    background-color: #faf8f2;
    border-bottom: 2px solid #EFDCBA;
    /* border: 2px solid red; */
}










