.container {
    width: 81%;
    top: 9.5rem;
    left: 17.4rem;
    background-color: #f6f2eb;
    position: fixed;
    overflow-y: auto;
    bottom: 1px;
}

.btn{
    background-color: #784800 !important;
}