.container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  overflow-y: auto;
  align-items: center;
  height: 100vh;
  font-family: Montserrat;
  background-color: #f6f2eb;
  margin-top: 4.5rem;
}

.leftImage {
  display: block;
  margin-right: 4rem;
  max-width: 100%;
  height: 32rem;
}

.rightImage {
  display: block;
  max-width: 100%;
  height: 32rem;
  margin-left: 8rem;
}

.box {
  width: 40vw;
  margin-right: 5rem;
}

.content {
  padding: 55px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(249, 224, 180, 1);
  border-radius: 2px;
  width: 100%;
  max-width: 1000px;
  position: relative;
  border-radius: 50px;
  bottom: 3rem;
  height: 63vh;
}

.title {
  color: #333333;
  font-size: 2rem;
}

.groupBtn {
  position: relative;
  bottom: 1.5rem;
}

.button {
  padding: 15px !important;
  border-radius: 2rem !important;
  background-color: #784800 !important;
  font-size: 13px !important;
  color: white !important;
  width: 10rem !important;
}
