/* Container for the entire login page */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f2eb;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    padding: 4rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  /* Left Image */
  .leftImage {
    width: 11rem;
    margin-bottom: 2rem;
    max-width: 100%;
    margin-right: 3rem;
    margin-top: 3rem;
  }
  
  /* Codetrex Logo */
  .codetrexlogo {
    width: 11rem;
    margin-bottom: 2rem;
    max-width: 100%;
  }
  
  /* Verify Container */
  .verifycontainer {
    max-width: 580px;
    background-color: #fff;
    padding: 7rem;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(249, 224, 180, 1);
    text-align: center;
    margin-bottom: 0;
  }
  
  /* Pin Input */
  .pininput {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 2rem;
  }
  
  /* Forgot Pin */
  .forgotpin {
    cursor: pointer;
    color: #784800;
    text-align: right;
    margin-bottom: 1rem;
    position: relative;
    left: 6rem;
  }
  
  /* Verify Pin Button */
  .verifypin {
    border-radius: 40px;
    padding: 10px;
    background-color: #784800;
  }
  
  /* Right Image */
  .rightImg {
    width: 15rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    max-width: 100%;
    margin-top: 3rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      padding: 2rem;
    }
  
    .leftImage,
    .rightImg {
      display: none;
    }
  
    .verifycontainer {
      padding: 2rem;
      max-width: 100%;
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(249, 224, 180, 1);
    }
  
    .forgotpin {
      left: 0;
      text-align: center;
      margin-top: 1rem;
    }
  
    .pininput {
      flex-direction: row;
      gap: 1rem;
    }
  }
  
  @media (max-width: 900px) {
    .container {
      padding: 3rem;
    }
  
    .leftImage {
      display: none;
    }
  
    .rightImg {
        display: none;
    }
  }
  