.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    background-color: #f6f2eb;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 65px;
    left: 0;
}

.leftImg {
    height: 34rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.box {
    max-width: 440px;
    background-color: #fff;
    padding: 3rem;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(249, 224, 180, 1);
    text-align: center;
    margin: 1rem;
}

.arrowBox {
    background-color: #EEEEEE;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.arrowIcon {
    font-size: 30px;
    color: #666666;
    margin-top: 10px;
}

.title {
    color: #333333;
    margin-bottom: 1rem;
}

.description {
    color: #666666;
    font-size: 18px;
    word-spacing: 2px;
}

.submitBtn {
    margin-top: 3px !important;
    margin-bottom: 2px !important;
    padding: 15px !important;
    width: 8rem !important;
    border-radius: 3rem !important;
    background-color: #784800 !important;
    font-size: 13px !important;
    margin-right: 20rem !important;
}

.rightImg {
    height: auto;
    margin-left: 4rem;
    max-height: 100%;
    max-width: 100%;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .leftImg,
    .rightImg {
        height: 25rem;
        margin: 1rem auto;
    }

    .box {
        width: 70%;
        max-width: 350px;
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    }

    .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        margin-right: 2.8rem !important;
    }

    .arrowBox {
        width: 40px;
        height: 40px;
    }

    .submitBtn {
        width: 70% !important;
        padding: 12px !important;
        font-size: 14px !important;
        margin-top: 1rem !important;
    }

    .textField {
        width: 340px !important;
        margin-right: 9rem !important;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .leftImg,
    .rightImg {
        display: none;
    }

    .box {
        width: 65%;
        max-width: 500px;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 20px;
    }

    .arrowBox {
        width: 40px;
        height: 40px;
    }

    .submitBtn {
        width: 70% !important;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .leftImg,
    .rightImg {
        display: none;
    }

    .box {
        width: 90%;
        padding: 1.5rem;
        margin: 1rem 1rem !important;
        border-radius: 15px;
    }

    .submitBtn {
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }
}